<!-- importação do header -->
<%- include('partials/header.ejs') %>
<body >
    
    
    <div class="container">
        <%- include('partials/menu.ejs') %>
    </div>

</body>
<!-- importação do footer-->
<%- include('partials/footer.ejs') %>